<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.churchmanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@drawable/church"
        android:label="@string/app_name"
        android:roundIcon="@drawable/church"
        android:supportsRtl="true"
        android:theme="@style/Theme.CHURCHMANAGEMENTSYSTEM">
        <activity
            android:name=".Donation"
            android:exported="false" />
        <activity
            android:name=".church_details"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".kulaba"
            android:exported="true" />
        <activity
            android:name=".Mulund"
            android:exported="true" />
        <activity
            android:name=".Thane"
            android:exported="true" />
        <activity
            android:name=".Showprayer"
            android:exported="true" />
        <activity
            android:name=".Addprayer"
            android:exported="true" />
        <activity
            android:name=".ShowScripture"
            android:exported="true" />
        <activity
            android:name=".AddScripture"
            android:exported="true" />
        <activity
            android:name=".Welcome"
            android:exported="true" />
        <activity
            android:name=".Login_form"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>